<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatum mollitia, non delectus ad nam totam. Similique iste sequi laborum, placeat, voluptatum rem nobis nam natus eligendi dolore fugit maiores?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque vel, consequuntur, explicabo placeat corrupti adipisci eum, porro expedita laboriosam culpa qui magnam voluptatibus perspiciatis. Nostrum quisquam rerum ullam cupiditate cum.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt tempora quam voluptates, neque praesentium unde id facilis animi ratione accusantium dignissimos soluta fugiat, vitae eligendi nulla tenetur distinctio? Nam, at?</p>
  </div>

  <%- include('./partials/footer.ejs') %>
  
</body>
</html>